body{
background-color: gray;
}
.right{
height: 60px;
width: 120px;
background-color: #FFA500;
border-color: blue;
border-radius: 25px;
font-family="Comic Sans MS";
font-size: 15px;
font-weight: bold;
}
.left{
height: 60px;
width: 120px;
background-color: #FFA500;
border-color: blue;
border-radius: 25px;
font-family="Comic Sans MS";
font-size: 15px;
font-weight: bold;
}
.up{
height: 60px;
width: 120px;
background-color: #FFA500;
border-color: blue;
border-radius: 25px;
font-family="Comic Sans MS";
font-size: 15px;
font-weight: bold;
}
.down{
height: 60px;
width: 120px;
background-color: #FFA500;
border-color: blue;
border-radius: 25px;
font-family="Comic Sans MS";
font-size: 15px;
font-weight: bold;
}
.right:hover{
height: 80px;
width: 160px;
background-color: #FF00FF;
border-color: blue;
border-radius: 25px;
font-family="Comic Sans MS";
font-size: 15px;
font-weight: bold;
}
.left:hover{
height: 80px;
width: 160px;
background-color: #FF00FF;
border-color: blue;
border-radius: 25px;
font-family="Comic Sans MS";
font-size: 15px;
font-weight: bold;
}
.down:hover{
height: 80px;
width: 160px;
background-color: #FF00FF;
border-color: blue;
border-radius: 25px;
font-family="Comic Sans MS";
font-size: 15px;
font-weight: bold;
}
.up:hover{
height: 80px;
width: 160px;
background-color: #FF00FF;
border-color: blue;
border-radius: 25px;
font-family="Comic Sans MS";
font-size: 15px;
font-weight: bold;
}
div{
  border:5px solid blue;
  z-index: -1;
}
font{
  font-family: "Comic Sans MS";
}
.anime{
    animation-iteration-count: infinite; 
}
